ul {
	 list-style-type: none;
	  margin: 0;
	  padding: 0;
	}
	
H1 {color:blue; font-size:80px; background-color:green;}
<<<<<<< HEAD
h2 {color:blue; font-size:40px;ALIGN:right}
h3 {color:blue; font-size:50px;ALIGN:right}
=======
h2 {color:blue; font-size:40px; text-align :right;}
h3 {color:blue; font-size:50px; text-align :right;}
>>>>>>> 116201d51c389a6b1a789756721398be23c38411


body {
  background-image: url("superstore.jpg");
  background-color: #cccccc;
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
		
	